<ion-content [fullscreen]="true">
  <swiper-container allowSlideNext="true" pagination="true" id="swiperhome">
    <swiper-slide>
      <ion-col>
        <img src="../../assets/logo-python.png" alt="" width="200" />
      </ion-col>
      <br />
      <p><strong>PLATFROM BELAJAR PYTHON</strong></p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat totam
        nisi autem nesciunt sapiente, inventore, repellat incidunt dolore
        tempora quam culpa. Eaque asperiores minus, dolor voluptate laudantium
        itaque vitae facere.ce
      </p>
    </swiper-slide>
    <swiper-slide>
      <ion-col>
        <img src="../../assets/logo-python.png" alt="" width="200" />
      </ion-col>
      <br />
      <p><strong>PLATFROM BELAJAR PYTHON</strong></p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat totam
        nisi autem nesciunt sapiente, inventore, repellat incidunt dolore
        tempora quam culpa. Eaque asperiores minus, dolor voluptate laudantium
        itaque vitae facere.ce
      </p>
    </swiper-slide>
    <swiper-slide>
      <ion-col>
        <img src="../../assets/logo-python.png" alt="" width="200" />
      </ion-col>
      <br />
      <p><strong>PLATFROM BELAJAR PYTHON</strong></p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat totam
        nisi autem nesciunt sapiente, inventore, repellat incidunt dolore
        tempora quam culpa. Eaque asperiores minus, dolor voluptate laudantium
        itaque vitae facere.ce
      </p>
    </swiper-slide>
  </swiper-container>

  <div class="swiperbutton-container">
    <ion-button class="swiperbutton" (click)="slidePrev()">mundur</ion-button>
    <ion-button class="swiperbutton" (click)="slideNext()"
      >Get Started</ion-button
    >
  </div>
</ion-content>
