<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-col>
      <img src="../../assets/logo-python.png" alt="" width="200" />
    </ion-col>
    <br />
    <p><strong>PLATFROM BELAJAR PYTHON</strong></p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat totam
      nisi autem nesciunt sapiente, inventore, repellat incidunt dolore tempora
      quam culpa. Eaque asperiores minus, dolor voluptate laudantium itaque
      vitae facere.ce
    </p>

    <ion-button shape="round">Get Started</ion-button>
  </div>
</ion-content>
<div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">Slide 1</div>
    <div class="swiper-slide">Slide 2</div>
    <div class="swiper-slide">Slide 3</div>
    ...
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>
</div>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
