<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <div id="container">
    <h3>Log In</h3>
    <ion-item>
      <ion-input
        label="username"
        labelPlacement="floating"
        placeholder="Username"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        label="password"
        labelPlacement="floating"
        placeholder="Password"
      ></ion-input>
      <ion-input-password-toggle slot="end">
        label="password" labelPlacement="floating" placeholder="Password"
      </ion-input-password-toggle>
    </ion-item>
    <ion-checkbox labelPlacement="end">Remember me</ion-checkbox>
    <br />
    <ion-button shape="round">Login</ion-button>
    <p>New User? Register Now!</p>
    <hr />
    <p>or connect with</p>
    <ion-img src="../../assets/logo-email.png" alt="logo email"></ion-img>
    <ion-img src="../../assets/logo-fb.png" alt="logo fb"></ion-img>
  </div>
</ion-content>
