@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
ion-content {
  --background: #0f4c81;
  font-family: "Russo One" !important;
}
html {
  --ion-default-font: "Russo One" !important;
  --ion-dynamic-font: var(--ion-default-font);
}
// HEX COLOR FOR PYTHON LOGO #4B8BBE, #306998, #FFE873, #FFD43B, and #646464
#container {
  text-align: center;
  justify-content: center;
  font: "Russo One";
  position: absolute;
  // left: 10%;
  // right: 10%;
  top: 54px;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
  color: rgb(165, 165, 165);
  margin-top: 50px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #ffff;
  margin: 0;
}

#container a {
  text-decoration: none;
}

#container ion-icon {
  position: absolute;
  vertical-align: middle;
  top: -20px;
}

ion-item {
  --background-color: #d9d9d9;
  margin-bottom: 20px;
  --background: none;
  --box-shadow: none;
  --border: 0px 0px 0px 0px;
  --border-color: none;
  --padding-right: 0px;
  background-color: var(--background-color);
  border-width: var(--border);
  border-color: var(--border-color);
  padding-right: var(--padding-right);
}

#container ion-input {
  --color: #666666;

  --highlight-color-focused: white;
  --font-family: "Russo One", sans-serif !important;
  --padding: 0px 0px 0px 0px;
}

#container ion-checkbox {
  --border-radius: 2px;
  --background: #bc7fcd;
  color: #0f4c81;
  display: block;
  font-size: 14px;
  size: 10px;
  --checkbox-background-checked: #bc7fcd;
}
ion-checkbox::part(container) {
  border-radius: 6px;
  border: 2px solid #bc7fcd;
  background: none;
}

#container h3 {
  --margin: 0;
  margin-bottom: 21px;
  font-size: 40px;
  color: white;
}

#container hr {
  border-top: 1px solid white;
}

#container ion-img {
  width: 50px; /* Sesuaikan lebar gambar sesuai dengan preferensi Anda */
  height: 50px; /* Sesuaikan tinggi gambar sesuai dengan preferensi Anda */
  margin: 10px; /* Sesuaikan jarak antara gambar dengan elemen sekitarnya */
  --border-radius: 30px;
}
#container .center-image {
  display: flex;
  align-items: center;
  justify-content: center;
  size: 20px;
  --margin-top: 31px;
  ---border-radius: 50px;
  --background-color: white;
  margin-top: var(--margin-top);
}
#container ion-button {
  margin-bottom: 20px;
  --border-radius: 5px;
  --color: white;
  --background: #bc7fcd;
  width: 340px;
  height: 50px;
  font-size: 24px;
}

ion-card {
  width: 340px;
  height: 235px;
  --background: #fff;
  --border-radius: 20px;
  --margin: 63px 45px 0px !important;
  margin: var(--margin);
}

ion-card-content {
  --padding: 0px 20px 0px 20px;
  padding: var(--padding);
}
#username {
  margin-top: 35px;
}
#container .register {
  --margin: 32px 0px 20px 0px;
  margin: var(--margin);
}

#container .pembatas {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px 50px;
}

#container .garis1 {
  flex: 1;
  height: 2px; /* Adjust the height of the lines */
  background-color: white; /* Adjust the color of the lines */
  margin: 0 35px 0 0; /* Adjust the space between the line and the icon */
}
#container .garis2 {
  flex: 1;
  height: 2px; /* Adjust the height of the lines */
  background-color: white; /* Adjust the color of the lines */
  margin: 0 0 0 35px; /* Adjust the space between the line and the icon */
}
#container .icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  padding: 7px;
  --border: 2px solid white;
  --border-radius: 6px; /* Adjust the border radius */
  border: var(--border);
  border-radius: var(--border-radius);
}

ion-img {
  height: 75px !important;
  width: 75px !important;
}
