<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <div id="container">
    <h3>LOGIN</h3>
    <p>
      Hello and welcome! <br />
      Please sign in to start your adventure with us.
    </p>
    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-input
            label="Username"
            labelPlacement="floating"
            placeholder="Username"
          >
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            type="password"
            label="Password"
            labelPlacement="floating"
            placeholder="Password"
          >
            <ion-input-password-toggle slot="end"></ion-input-password-toggle>
          </ion-input>
        </ion-item>
        <ion-checkbox labelPlacement="end">Remember me</ion-checkbox>
      </ion-card-content>
    </ion-card>

    <br />

    <ion-button shape="round">LOGIN</ion-button>
    <p>New User? <span style="color: yellow">Register Now!</span></p>

    <hr />
    <p>or connect with</p>
    <div class="center-image">
      <ion-img
        src="../../assets/logo-email-lingkaran-3.svg"
        alt="logo email"
      ></ion-img>
    </div>
  </div>
</ion-content>
