<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <div id="container">
    <h3>Log In</h3>
    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-input
            label="username"
            labelPlacement="floating"
            placeholder="Username"
            fill="outline"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="password" label="Password" labelPlacement="floating">
            <ion-input-password-toggle slot="end"></ion-input-password-toggle>
          </ion-input>
        </ion-item>
        <ion-checkbox labelPlacement="end">Remember me</ion-checkbox>
      </ion-card-content>
    </ion-card>

    <br />
    <ion-button shape="round">Login</ion-button>
    <p>New User? Register Now!</p>
    <hr />
    <p>or connect with</p>
    <div class="center-image">
      <ion-img src="../../assets/logo-email.jpeg" alt="logo email"></ion-img>
      <ion-img src="../../assets/logo-fb.jpeg" alt="logo fb"></ion-img>
    </div>
  </div>
</ion-content>
