<ion-content [fullscreen]="true">
  <div class="profile-container">
    <div class="profile-picture">
      <!-- \ -->
    </div>
    <div class="user-name">Kak Gem</div>
    <div class="user-email">gempahamgmail.com</div>
    <div class="profile-options">
      <ion-item>
        <ion-icon name="person-circle-outline" slot="start"></ion-icon>
        <ion-label>Edit Profile</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
        <ion-label>Change Password</ion-label>
      </ion-item>
    </div>
  </div>

  <div class="button-navigation">
    <ion-button [routerLink]="['/awal']">
      <ion-icon name="home-outline"></ion-icon>
      Home
    </ion-button>
    <ion-button [routerLink]="['/materi']">
      <ion-icon name="code-slash-outline"></ion-icon>
      Learn
    </ion-button>
    <ion-button [routerLink]="['/profile']" class="activated">
      <ion-icon name="person-outline"></ion-icon>
      Profile
    </ion-button>
  </div>
</ion-content>
