<ion-content [fullscreen]="true">
  <div id="container">
    <h3>REGISTER</h3>
    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-input
            [(ngModel)]="name"
            label="Name"
            labelPlacement="floating"
            placeholder="Name"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            [(ngModel)]="email"
            label="Email"
            labelPlacement="floating"
            type="email"
            placeholder="email@domain.com"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            [(ngModel)]="password"
            type="password"
            label="Password"
            labelPlacement="stacked"
            placeholder="Password"
          >
            <ion-input-password-toggle slot="end"></ion-input-password-toggle>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            [(ngModel)]="confirmPassword"
            type="password"
            label="Confirm Password"
            labelPlacement="stacked"
            placeholder="Confirm Password"
          >
            <ion-input-password-toggle slot="end"></ion-input-password-toggle>
          </ion-input>
        </ion-item>
        <ion-checkbox labelPlacement="end" justify="start">
          I agree to the terms and conditions
        </ion-checkbox>
      </ion-card-content>
    </ion-card>

    <br />
    <ion-button shape="round" (click)="register()">REGISTER</ion-button>
    <p>
      Already have an account?
      <span style="color: yellow" (click)="login()">Login!</span>
    </p>
  </div>
</ion-content>
