@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
ion-content {
  --background: #0f4c81;
  font-family: "Russo One" !important;
}
html {
  --ion-default-font: "Russo One" !important;
  --ion-dynamic-font: var(--ion-default-font);
}

// HEX COLOR FOR PYTHON LOGO #4B8BBE, #306998, #FFE873, #FFD43B, and #646464
#container {
  text-align: center;
  font: "Russo One";
  position: absolute;
  left: 5%;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
  color: white;
  margin-top: 50px;
}

#container p {
  font-size: 14 px;
  line-height: 22px;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

#container a {
  text-decoration: none;
  color: #ffff;
}

#container ion-icon {
  position: absolute;
  vertical-align: middle;
  top: -20px;
}

ion-item {
  --justify-content: left;
  --background-color: #d9d9d9;
  margin-top: 10px;
  margin-bottom: 20px;
  --padding-left: 0px;
  padding-top: 0px;
  --border-radius: 12px;
  --background: none;
  --box-shadow: none;
  --border: 0px 0px 0px 0px;
  --border-color: none;
  --padding-right: 0px;
  border-radius: var(--border-radius);
  padding-top: var(--padding-top);
  background-color: var(--background-color);
  border-width: var(--border);
  border-color: var(--border-color);
  padding-left: var(--padding-left);
}

#container ion-checkbox {
  padding: 0px 0px 0px 0px;
  padding: var(--padding);
  --border-radius: 2px;
  --background: #bc7fcd;
  color: #0f4c81;
  display: block;
  font-size: 14px;
  size: 10px;
  --checkbox-background-checked: #bc7fcd;
}
ion-checkbox::part(container) {
  border-radius: 6px;
  border: 2px solid #bc7fcd;
  background: none;
}

#container h3 {
  margin-bottom: 20px;
  color: white;
  font-size: 40px;
}

#container hr {
  border-top: 1px solid white;
}

#container ion-img {
  width: 25px; /* Sesuaikan lebar gambar sesuai dengan preferensi Anda */
  height: 25px; /* Sesuaikan tinggi gambar sesuai dengan preferensi Anda */
  margin: 10px; /* Sesuaikan jarak antara gambar dengan elemen sekitarnya */
}

#container ion-button {
  --font-size: 24px;
  margin-bottom: 5px;
  // margin-top: 5px;
  --border-radius: 20px;
  // --padding-start: 120px; /* Atur padding awal */
  // --padding-end: 120px; /* Atur padding akhir */
  --color: white;
  --background: #bc7fcd;
  font-size: var(--font-size);
  width: 351px;
  height: 69px;
}
#container ion-card {
  --margin-bottom: 0px;
  margin-bottom: var(--margin-bottom);
  --background-color: none;
  background-color: var(--background-color);
  --border-radius: 20px;
  border-radius: var(--border-radius);
}
#container ion-card-content {
  --background-color: white;
  background-color: var(--background-color);
  --border-radius: 20px;
  border-radius: var(--border-radius);
}

#container ion-input,
password-toggle {
  --color: #666666;
  color: var(--color);
  --font-color: #666666;
  font-color: var(--font-color);
  --background-color: #d9d9d9;
  background-color: var(--background-color);
  --highlight-color-focused: black;
  --font-family: "Russo One", sans-serif !important;
  --padding: 0px 0px 0px 0px;
  --color-activated: black;
  --color-focused: black;
  --color-hover: black;
}
