<ion-content>
  <!-- JUDUL ATAS -->
  <div class="navbar">
    <ion-icon name="arrow-back-outline" justify="start"></ion-icon>
    <p justify="end">Python Craft</p>
  </div>

  <!-- PROFILE -->
  <div class="card-profile">
    <ion-icon class="person" name="person-outline"></ion-icon>
    <p class="nama">{{ userName }}</p>
    <ion-button class="ucapan" disabled>
      <ion-icon slot="start" name="sunny-outline"></ion-icon>
      GOOD MORNING
    </ion-button>
    <ion-button class="diamond">
      <ion-icon slot="start" name="diamond-outline"></ion-icon>
      789
      <ion-icon slot="end" name="add-outline"></ion-icon>
    </ion-button>
  </div>

  <!-- MATERI -->
  <div class="container-progress">
    <div class="header-progress">Your Progress</div>
    <div class="card-materi">
      <ion-button class="isi-materi">
        <ion-icon
          class="icon-start"
          slot="start"
          name="code-outline"
        ></ion-icon>
        <p>Materi</p>
        <ion-progress-bar [value]="progress" color="success"></ion-progress-bar>
        <ion-icon class="icon-start-2" name="play-outline"></ion-icon>
      </ion-button>
    </div>
    <div class="card-materi-2">
      <ion-button class="isi-materi">
        <ion-icon
          class="icon-start"
          slot="start"
          name="code-outline"
        ></ion-icon>
        <p>Materi</p>
        <ion-progress-bar [value]="0.5"></ion-progress-bar>
        <ion-icon class="icon-start-2" name="play-outline"></ion-icon>
      </ion-button>
    </div>
  </div>
  <div class="button-navigation">
    <ion-button [routerLink]="['/awal']">
      <ion-icon name="home-outline"></ion-icon>
      Home
    </ion-button>
    <ion-button [routerLink]="['/materi']">
      <ion-icon name="code-slash-outline"></ion-icon>
      Learn
    </ion-button>
    <ion-button [routerLink]="['/profile']">
      <ion-icon name="person-outline"></ion-icon>
      Profile
    </ion-button>
  </div>
</ion-content>
