<ion-header> </ion-header>

<ion-content>
  <div id="container">
    <div class="header">
      <img src="assets/images/megaphone.png" alt="Megaphone Icon" />
      <div class="welcome-text">
        <h1>Hi Jennie!</h1>
        <p>Welcome to the PythonCraft. Begin your adventure here.</p>
      </div>
    </div>

    <div class="progress-title">
      <h2>YOUR PROGRESS</h2>
      <ion-button
        expand="block"
        fill="solid"
        color="medium"
        routerLink="/materi-looping"
        class="progress-button"
      >
        <ion-icon slot="start" name="play-circle"></ion-icon>
        Materi Looping
      </ion-button>

      <ion-button
        expand="block"
        fill="solid"
        color="medium"
        routerLink="/materi-tipe-data"
        class="progress-button"
      >
        <ion-icon slot="start" name="play-circle"></ion-icon>
        Materi Tipe Data
      </ion-button>
    </div>
  </div>
</ion-content>

<<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button tab="learn">
      <ion-icon name="code-slash-outline"></ion-icon>
      Learn
    </ion-tab-button>
    <ion-tab-button tab="leaderboard">
      <ion-icon name="trophy-outline"></ion-icon>
      Leaderboard
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon name="person-outline"></ion-icon>
      Profile
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
