@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

ion-content {
  --background: #ffff;
  font-family: "Russo One", sans-serif !important;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
}

#container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#container-header {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container-content {
  flex: 0 70% 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#atasan {
  --background: #bc7fcd;
  --color: #ffff;
  height: 100%;
  width: 100%;
  border-radius: 10%;
  margin-top: -10px;
  margin: 0;
}

#atasan ion-card-title {
  --color: #ffff;
}

#bawahan {
  --background: #0f4c81;
  --color: #ffff;
  width: 100%;
}

#bawahan ion-card-title {
  --color: #ffff;
}

#card-materi-variabel,
#card-materi-looping,
#card-materi-tipedata {
  --background: #bc7fcd;
  --color: #ffff;
  margin-bottom: 30px;
  width: 90%;
}

ion-footer {
  --background: #f8f9fa; /* Warna latar belakang footer */
  position: fixed; /* Tetap di bagian bawah */
  bottom: 0;
}

ion-toolbar {
  --background: #fffff; /* Warna latar belakang toolbar */
  color: #ffffff; /* Warna teks */
  text-align: center; /* Teks di tengah */
  --border-color: #bc7fcd;
}

ion-tab-bar {
  --background: white;
}
