ion-content {
  --background: #0f4c81;
}
// HEX COLOR FOR PYTHON LOGO #4B8BBE, #306998, #FFE873, #FFD43B, and #646464
#container {
  text-align: center;
  font: "Red Hat Display";
  position: absolute;
  left: 5%;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}
