ion-content {
  --background: #0f4c81;
}
// HEX COLOR FOR PYTHON LOGO #4B8BBE, #306998, #FFE873, #FFD43B, and #646464 adn #0F4C81

#container {
  display: flex !important;
  justify-content: center !important;
  text-align: center !important;
  align-items: center !important;
}

img {
  width: 500px !important; /* Ubah ukuran gambar sesuai kebutuhan Anda */
  height: auto !important; /* Tetap menjaga rasio aspek */
  margin-top: 200px;
  margin-bottom: 250px;
}
